<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @achievement.name %>
</p>

<p>
  <b>Description:</b>
  <%= @achievement.description %>
</p>

<p>
<%= @achievement %>
</p>

<%= link_to 'Edit', edit_triumph_achievement_path(@achievement) %> |
<%= link_to 'Back', triumph_achievements_path %>
